---
---

<div class="metric-panel metric-panel--skeleton border-dashed opacity-70" aria-hidden="true">
  <div class="metric-panel__header">
    <span class="skeleton-bar skeleton-bar--query"></span>
    <span class="skeleton-bar skeleton-bar--range"></span>
  </div>
  <div class="metric-panel__chart">
    <span class="skeleton-bar skeleton-bar--chart"></span>
  </div>
  <dl class="metric-panel__stats">
    {
      Array.from({ length: 4 }).map(() => (
        <div>
          <dt><span class="skeleton-bar skeleton-bar--label"></span></dt>
          <dd><span class="skeleton-bar skeleton-bar--value"></span></dd>
        </div>
      ))
    }
  </dl>
</div>
